body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("bg.png");
    background-repeat: repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 80px;
    width: 500px;
}

.card {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin: 0;
    height: 100px;
    width: 100px;
}

.number {
    padding-top: 25px;
}

a {
    text-decoration: none;
}