{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <div class="container">
        <p class="instructions">This is a memory test game .
            You will see 12 images, each image under a number from 1 to
            12. You have 30 seconds to memorize which image is under each number.
            After 30 seconds, only one image will be shown to you.
            You have 10 seconds to remember which number had this image.
            After 10 seconds, you'll see the numbers from 1 to 12 again.
            Click on the number that you think had the image you saw earlier.
            If you choose the correct number, you win. If not, you lose.</p>
        <a href="{% url 'display' %}"><button id="retryButton">Let's start</button></a>

    </div>
    <footer>
        <p>Developed by Muhammed Fasil T K <br></p>
        <a href="https://www.instagram.com/tk_fasil_" target="_blank">
            <img src="../static/css/instagram-logo.png" alt="Instagram" class="instagram-icon"> tk_fasil_
        </a>
    </footer>
</body>

</html>